<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="new_proj.Maven_proj.AppTest"/>
      <class name="new_proj.Maven_proj.SeleniumTest"/>
      <class name="new_proj.Maven_proj.AppiumTest"/>
      <class name="new_proj.Maven_proj.RestAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
